<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="todoDao" class="mg.developer.todoList.dao.TodoDaoImpl"/>
	
	<bean id="todoServices" class="mg.developer.todoList.services.TodoServices">
		<constructor-arg index="0" ref="todoDao"/>
	</bean>
	
	<bean id="userDao" class="mg.developer.todoList.dao.UserDaoImpl"/>
	<bean id="userServices" class="mg.developer.todoList.services.UserServices">
		<constructor-arg index="0" ref="userDao"/>
	</bean>
	
	<bean id="userRoleDao" class="mg.developer.todoList.dao.UserRoleDaoImpl"/>
	<bean id="userRoleServices" class="mg.developer.todoList.services.UserRoleServices">
		<constructor-arg index="0" ref="userRoleDao"></constructor-arg>
	</bean>
</beans> 